<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div id="app" style="">
		<label for="uName">用户名：</label>
		<input type="text" id="uName" v-model="userName" v-on:blur="judge">
		<div v-if="uFlag">{{status}}</div><br>
		<label for="pass">密&nbsp;&nbsp;&nbsp;&nbsp;码：</label>
		<input type="password" id="pass"><br>
		<input type="button" value="检测" v-on:click="judge">
	</div>
	<script src="./js/Vue.js"></script>
	<script>
		var app = new Vue({
			el: '#app',
			data: {
				userName: 'lixin',
				uFlag: true,
				status: 'success'
			},
			methods: {
				judge: function(){
					if(this.userName == 'lixin'){
						this.status = 'success';
					}else{
						this.status = 'fail';
					}
				}
			}
		});
	</script>
</body>
</html>