<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
        <title>title</title>
        <link href="" rel="stylesheet">
        <script src="./js/vue.js"></script>
    </head>
    <body>
        <template id="vue">
        <input type="text" v-model="name" />
        <label v-for="cb in inputs">
            <input type="checkbox" value="{{cb.value}}" v-model="checkbox" />{{cb.name}}
        </label>   <br>
        <div> <!--下面2个是一样的效果-->
         {{checkbox||json}}<br>
        {{getCheckBoxes}}<br>
        </div>
        <div><!--下面2个是一样的效果-->
            {{getName}}<br>
            {{name}}
        </div>
        </template>
    </body>
    <script type="">
    var inputs = ['JAVA','C#','RUBY'].map(function (el,index) {
        return {value:index,name:el};
    });
    var vm= new Vue({
        el:'#vue',
        data:{
            name:'testName',
            inputs:inputs,
            checkbox:['0']
        },
        watch:{
            //检测属性变化
            'name':function(newValue,oldValue){
                 console.log('name has changed ',newValue,oldValue);
            }
        },
        computed:{
            getCheckBoxes:function(){
                console.log('run getCheckBoxes');
                return this.checkbox.join(',');
            },
            getName:function(){
                console.log('run getName');
                this.checkbox.join(',');
                console.log("getName use checkbox");
                return this.name;
            }
        }
    });
    </script>
</html>