*{
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}
ol,ul{
    list-style: none;
}
/* header */
.header{
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
}
.headGao{
    height: 50px;
    line-height: 50px;
    background: #6464f7;
}
.header .rule{
    width: 20px;
    height: 20px;
}
.header .add{
    width: 20px;
    height: 20px;
}
.footer{
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 9999;
}
.footer a{
    list-style: none;
    color: #ffffff;
}
.ruleMask{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}
.ruleCon{
    width: 300px;
    height: 400px;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 80px;
    text-align: center;
    border-radius: 10px;
}
.toHide{
    display: none !important;
}
/* header */
.content{
    margin-top: 50px;
    /* min-height: 1000px; */
    /* background-color: #cccccc; */
    text-align: center;
    padding-bottom: 100px;
}
.foodImg{
    width: 300px;
    height: 300px;
}
.foodTeach{
    text-align: left;
}
.content .commitCon{
    text-align: left;
}
.commitCon .bt{
    margin-left: 20px;
}
.commInput{
    margin-left: 35px;
}
.commInput input{
    float: right;
    margin-top: 79px;
    margin-right: 20px;
}
.commitOne{
    width: 90%;
    /* height: 100px; */
    /* border: 1px solid #000000; */
    margin-left: 5%;
    margin-top: 10px;
}