*{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
ul,ol{
    list-style: none;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.clearfix {
	zoom: 1
}
.header{
    padding-left: 20px;
    padding-top: 20px;
}
.goBack a{
    text-decoration: none;
}
.header .title{
    padding-left: 10px;
    font-size: 16px;
    font-weight: 700;
    font-family: "微软雅黑";
}
.nav{
    width: 80%;
    margin-left: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
}
.navList{
    border-bottom: 1px solid #ccc;
    height: 45px;
}
.navList li{
    float: left;
    width: 86px;
    height: 44px;
    text-align: center;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    line-height: 44px;
    cursor: pointer
}
.navList .navActive{
    border-bottom: 0px;
    background-color: #fff;
    height: 45px;
    line-height: 44px;
    margin-bottom: -1px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #6699FF;
}
.filter{
    margin-top: 20px;
}
.filterOne{
    display: inline-block;
    margin-right: 30px;
}
.filterOne select{
    width: 180px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* color: #ccc; */
} 